<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73628094170-c00089t4f4v2j27lvc2imnf0q2tbt5g1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73628094170-c00089t4f4v2j27lvc2imnf0q2tbt5g1</string>
	<key>API_KEY</key>
	<string>AIzaSyA-w6UpjpW076sLbPBNP1CmR7QZyNeCHkU</string>
	<key>GCM_SENDER_ID</key>
	<string>73628094170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simon.Basecamp</string>
	<key>PROJECT_ID</key>
	<string>basecamp-377304</string>
	<key>STORAGE_BUCKET</key>
	<string>basecamp-377304.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73628094170:ios:bcf99b256b8e6fa13b9fe3</string>
</dict>
</plist>