<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>해당 기능을 사용하기 위해 카메라 사용에 대한 권한이 필요합니다</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>해당 기능을 사용하기 위해 마이크 사용에 대한 권한이 필요합니다</string>
	<key>NSLocationUsageDescription</key>
	<string>해당 서비스를 사용하려면 현재 위치에 대한 접근 권한이 필요합니다</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>해당 기능을 사용하기 위해 사진첩에 대한 접근 권한이 필요합니다</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>해당 서비스를 사용하려면 현재 위치에 대한 접근 권한이 필요합니다</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao77a6e8f2eee65c1ee9ea887b55d06805</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSansKR-Regular.otf</string>
		<string>NotoSansKR-Medium.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
